{% extends "base.html" %} 
{% block content %}
{% load static %}

<h1>Cats!</h1>

<p>Cover Photo by <a href="https://unsplash.com/@sarahdorweiler?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sarah Dorweiler</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </p>
<p>Search Page Photo by <a href="https://unsplash.com/@wildewoodstudio?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Chinda Sam</a> on <a href="https://unsplash.com/@wildewoodstudio?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
<p>Register Page Photo by <a href="https://unsplash.com/@uta_scholl?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Uta Scholl</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>

<p>Accessible Star Ratings by <a href="https://github.com/LunarLogic/starability">Starability.</a></p>

<img class="uk-border-circle" src="{% static 'IMG_1476.jpg' %}" width="200" height="200" alt="Border circle">
<img class="uk-border-circle" src="{% static 'IMG_1482.jpg' %}" width="200" height="200" alt="Border circle">
{% endblock %}