{% extends "base.html" %}
{% block content %}
{% load static %}


<!--<div class="uk-height-viewport uk-margin-remove uk-flex uk-flex-center uk-flex-middle uk-background-cover"-->
<!--     data-src="{% static 'images/chinda-sam-x7S0DXiSY9I-unsplash.jpg' %}" uk-img>-->

<div class="uk-container uk-width-1-2 uk-margin-large-top">
  <div class="uk-margin-large-top"><h1> Welcome, {{ user.username }}. </h1></div>


  <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">New Hotels</h3>
          {% if reviews %}<div class="uk-card-badge uk-label">{{ hotels.count }}</div>{% endif %}

            <p>You have {{ hotels.count }} hotels awaiting admin approval.</p>
          <a class="uk-button uk-button-default uk-border-pill" href="{% url 'hotel_approval' %}">View Hotels</a>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">New Reviews</h3>
          {% if reviews %}<div class="uk-card-badge uk-label">{{ reviews.count }}</div>{% endif %}
            <p>You have {{ reviews.count }} reviews awaiting admin approval.</p>
          <a class="uk-button uk-button-default uk-border-pill" href="">View Reviews</a>
        </div>
    </div>
</div>


</div>

{%endblock%}