<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>TABINYANS</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">

    <!-- UIkit JS & Icons -->
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Poppins:wght@100;200;500&family=Satisfy&display=swap" rel="stylesheet">

    <style>
        #logo-font {
        font-family: 'Dancing Script', cursive;
        color: black;
        font-size: 2em;
        }
    </style>

</head>

    <!-- Navbar -->
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar-container uk-margin uk-position-top uk-animation-slide-top" uk-navbar>
    <div class="uk-navbar-left">

        <a id="logo-font" class="uk-navbar-item uk-logo" href="#">TabiNyans</a>

    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Find a Hotel</a></li>
<!--            <li>-->
<!--                <a href="#">About Us</a>-->
<!--                <div class="uk-navbar-dropdown">-->
<!--                    <ul class="uk-nav uk-navbar-dropdown-nav">-->
<!--                        <li class="uk-active"><a href="#">About</a></li>-->
<!--                        <li><a href="#">Credits</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </li>-->





        </ul>
        {%if user.is_authenticated %}
            <a href="{% url 'logout' %}"><button class="uk-button uk-button-default uk-button-small uk-margin-right">Logout</button></a></p>
        {% else %}
<!--            <a href="{% url 'login' %}">-->
                <button class="uk-button uk-button-default uk-button-small uk-margin-right">Login</button></a>
                     <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active">
                             <form method="POST">
                            {% csrf_token %}
                                  <input class="uk-input uk-form-width-medium uk-form-small" id="username" type="text" placeholder="Username">
                        </li>
                        <li>  <input class="uk-input uk-form-width-medium uk-form-small" type="text" id="password" placeholder="Password">  </li>
                        <li>
                            <button class="uk-button uk-button-default uk-button-small uk-margin-right">Login</button>
                                </form>
                            {% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}

                        </li>
                    </ul>
                </div>


        {% endif %}


    </div>
</nav>
</div>


{% block content %}
<body>

</body>
{% endblock %}
</html>