{% extends "base.html" %} 
{% block content %}


<p>{{hotel.hotel_name}} - {{ hotel.city}}

    <p>HELLO</p>

<br/>------------
<br/>
<br>----
<br>
<h2>Reviews</h2>
{% if not hotel.reviews.all %}
    No reviews for this hotel.
{% else %}
    {% for review in hotel.reviews.all %}
      {% if review.admin_approved is True %}
    <p><strong>{{ review.author }} - {{review.pub_date}} - {{ review.rating }}</strong>
            <p>{{ review.comment }}
      {% endif %}
    {% endfor %}
{% endif %}
{% if user.is_authenticated %}
<p><a href="{% url 'add_review' hotel.pk %}?next={{request.path}}">Review this hotel.</a></p>
{% endif %}
{%endblock%}