{% extends "base.html" %} 
{% block content %}


<p>{{hotel.hotel_name}} - {{ hotel.city}}

    <p>HELLO</p>

<br/>------------
<br/>

<!--   {% for review in reviews %}-->
<!--        <div class="comments" style="padding: 10px;">-->
<!--          <p class="font-weight-bold">-->
<!--            {{ review.name }} - {{ review.rating }}-->
<!--            <span class=" text-muted font-weight-normal">-->
<!--              {{ review.pub_date }}-->
<!--            </span>-->
<!--          </p>-->
<!--          {{ review.comment | linebreaks }}-->

<!--        </div>-->
<!--        {% endfor %}-->

<!--<br>-->
<br>----
<br>

{%endblock%}