{% extends "base.html" %}
{% block content %}
{% load static %}


<!--## {{ hotel.hotel_name }} etc.-->
<!--## {{ stat.avg_rating }} = average of all ratings-->

<div class="uk-height-viewport uk-margin-remove uk-background-cover"
     data-src="{% static 'images/sincerely-media-56pMIREBAcg-unsplash.jpg' %}" uk-img>


<div class="uk-text-center uk-margin-large-top" uk-grid>
    <div class="uk-width-1-4@m">
        <div class=""><!-- Empty Grid Left 1 --></div>
    </div>
    <div class="uk-width-expand uk-margin-large-top">
        <div class="uk-card uk-card-default">
            {% if hotel.images %}
                <div class="uk-height-medium uk-background-cover" uk-parallax="bgy: -100"
                data-src="{{ hotel.images.url }}" uk-img>
                    </div>
            {% else %}
                <div class="uk-height-medium uk-background-cover" uk-parallax="bgy: -100"
                data-src="{% static 'images/kate-stone-matheson-uy5t-CJuIK4-unsplash.jpg' %}" uk-img>
                    </div>
            {% endif %}

            {% include 'messages.html' %}

            <div class="uk-padding-small uk-text-left">
                <center>

                <i class="hotel-title">{{ hotel.hotel_name }}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="hotel-subtitle">{{ hotel.city }}</i>
                </center>

                <table class="uk-table">
                    <tbody></tbody>
                        <tr>
                            <td>
                                 <!--- STATIC RATING --->
                                 <div class="starability-result" data-rating="{{ averaged_rating }}"></div>
                                <!--- END STATIC RATING --->

                            </td>

                            <td class="uk-text-right">
                                  <!-- LIKE BUTTON -->
                                        {% if user.is_authenticated %}
                                        <form method="POST" action="{% url 'hotel_detail' hotel.pk %}">
                                        <button class="uk button uk-border-pill"> {% csrf_token %} Add to Likes <i class="
                                        {% if like %} after-like
                                         {% else %} before-like
                                         {% endif %} fas fa-heart fa-2x" name="Submit" id="Submit"></i></button></a>
                                          </form>
                                        {% endif %}
                                <!-- END LIKE BUTTON -->

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    <div>

                <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        <div class="uk-card uk-card-body uk-text-left uk-padding-small">
                            <!-- HOTEL INFO -->

                            <section style="display: table;">

                              <div style="display: table-row;">
                                <div style="display: table-cell; padding: 10px;">City: </div>
                                <div style="display: table-cell;  padding: 5px;">{{ hotel.city }}</div>
                              </div>
                              <div style="display: table-row;">
                                <div style="display: table-cell;  padding: 10px;">Address: </div>
                                <div style="display: table-cell; padding: 10px;">{{ hotel.address }}</div>
                              </div>

                              <div style="display: table-row;">
                                <div style="display: table-cell; padding: 10px;">Website: </div>
                                <div style="display: table-cell; padding: 10px;">{% if hotel.website_url %}
                                                     <a href="{{ hotel.website_url }}">{{ hotel.website_url }}</a>
                                                    {% else %}
                                                    None
                                                    {% endif %}</div>
                              </div>
                                <div style="display: table-row;">
                                <div style="display: table-cell;  padding: 10px;">Hours: </div>
                                <div style="display: table-cell; padding: 10px;">{{ hotel.hours }}</div>
                              </div>
                                <div style="display: table-row;">
                                <div style="display: table-cell;  padding: 10px;">High Season Rate: </div>
                                <div style="display: table-cell; padding: 10px;">{{ hotel.high_season }}</div>
                              </div>
                                <div style="display: table-row;">
                                <div style="display: table-cell;  padding: 10px;">Dogs on Premises: </div>
                                <div style="display: table-cell; padding: 10px;">{{ hotel.dogs }}</div>
                              </div>
                                <div style="display: table-row;">
                                <div style="display: table-cell;  padding: 10px;">Short Term Available: </div>
                                <div style="display: table-cell; padding: 10px;">{{ hotel.short_term }}</div>
                              </div>
                                <div style="display: table-row;">
                                <div style="display: table-cell;  padding: 10px;">Food Service Available: </div>
                                <div style="display: table-cell; padding: 10px;">{{ hotel.food }}</div>
                              </div>
                                <div style="display: table-row;">
                                <div style="display: table-cell;  padding: 10px;">24 Hour Staff: </div>
                                <div style="display: table-cell; padding: 10px;">{{ hotel.night_staff }}</div>
                              </div>
                                <div style="display: table-row;">
                                <div style="display: table-cell;  padding: 10px;">Special Service: </div>
                                <div style="display: table-cell; padding: 10px;">{{ hotel.specials }}</div>
                              </div>
                                <div style="display: table-row;">
                                <div style="display: table-cell;  padding: 10px;">Other Information: </div>
                                <div style="display: table-cell; padding: 10px;">{{ hotel.extra }}</div>
                              </div>

                            </section>



                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-body uk-padding-small" >
                            <!-- HOTEL LOGO -->
                            {% if hotel.logo %}
                            <img src="{{ hotel.logo.url }}" width="200px" uk-img>
                            {% else %}
                            <img src="{% static 'images/heartpawprint.jpg' %}" width="200px" alt="" uk-img>
                            {% endif %}
                        </div>
                        <!-- GOOGLE MAPS STATIC API -->
<!--                        <br>-->
<!--                        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ hotel.address }}&zoom=14&size=300x300&key={{ GOOGLE_API }}">-->
<!--                        <br>-->
                        <!-- GOOGLE MAPS STATIC API END -->

                        <!-- GOOGLE MAPS EMBED API -->
<!--                        <br>-->
<!--                        <div class="uk-margin-bottom">-->
<!--                        <iframe-->
<!--                          width="300"-->
<!--                          height="300"-->
<!--                          frameborder="0" style="border:0"-->
<!--                          src="https://www.google.com/maps/embed/v1/place?key={{ GOOGLE_API }}&q={{ hotel.address }}" allowfullscreen>-->
<!--                        </iframe>-->
<!--                        </div>-->
                        <!-- GOOGLE MAPS EMBED API END -->

                    </div>
                </div>

            </div>
          </div>

    </div>
    <div class="uk-width-1-4@m">
        <div ><!-- Empty Grid Right 1 --></div>
    </div>
</div>

<div class="uk-text-center uk-margin-top" uk-grid>
    <div class="uk-width-1-4@m">
        <div class=""> <!-- Empty Grid Left 2--></div>
    </div>

    <div class="uk-width-expand uk-text-left">
        <div class="uk-card uk-card-default uk-padding-small ">

            <center><h1> Reviews</h1></center>
                      {% if not hotel.reviews.all %}

            No reviews for this hotel.

        {% else %}
            {% for review in hotel.reviews.all %}
              {% if review.admin_approved is True %}
            <p><strong>{{ review.author }} - {{review.pub_date}} - {{ review.rating }}</strong>
                    <p>{{ review.comment }}
       </p><hr>
              {% endif %}
            {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
       <div class="uk-card uk-card-default uk-card-body uk-margin-top uk-margin-bottom">
    <p><a href="{% url 'add_review' hotel.pk %}?next={{request.path}}">Review this hotel.</a></p>
        </div>
           {% endif %}


          </div>

    </div>
    <div class="uk-width-1-4@m">
        <div><!-- Empty Grid Right 2--></div>
    </div>
</div>
</div>

{%endblock%}