{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="uk-height-viewport uk-margin-remove uk-flex uk-flex-center uk-flex-middle uk-background-cover" uk-parallax="bgy: -200"
     data-src="{% static 'images/sarah-dorweiler-06wMGv3GF8k-unsplash (2).jpg' %}" uk-img>
<!--  <h1>Background Image</h1>-->
  <!-- TOP CONTAINER -->
				<div class="uk-container uk-flex-auto top-container uk-position-relative uk-margin-medium-top" data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
					<div class="uk-width-1-2@s" data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
						<h1 class="uk-margin-remove-top">Innovation in your hands.</h1>
						<p class="subtitle-text uk-visible@s">Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco </p>
						<a href="#" title="Learn More" class="uk-button uk-button-default" data-uk-scrollspy-class="uk-animation-fade">SEARCH</a>
					</div>
				</div>
{%endblock%}