{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="uk-margin-large-top"><br></div>


   <div class="uk-margin-large-top"><br><center><h1>Unapproved Reviews</h1></center></div>

{% include 'messages.html' %}

<div class="uk-width-1-2 uk-align-center">
    {% if reviews %}
    {% for review in reviews %}
    <div class="uk-text-left" uk-grid>
            <div class="uk-width-3-4">
                <div class="uk-card uk-card-default uk-card-body">

                    <p><h2 class="uk-margin-remove-top">{{ review.pub_date }} - <a href="{% url 'hotel_detail' review.hotel.pk %}">{{ review.hotel }}</a></h2></p>
                    <p>{{ review.author }}</p>
                    <p>{{ review.comment }}</p>

                </div>
             </div>
        <div class="uk-width-1-4">
            <div class="uk-card uk-card-default uk-card-body">
                <a href="{% url 'approve_review' review.pk %}"><button class="uk-button uk-button-primary uk-button-small uk-border-pill uk-margin-small-bottom">Approve</button></a>

                <a href="{% url 'delete_review' review.pk %}"><button class="uk-button uk-button-danger uk-button-small uk-border-pill">Delete</button></a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <center>
    <span uk-icon="icon: check; ratio: 3.5"></span>
        <h2>No pending approvals.</h2>
    </center>
    {% endif %}

</div>
<hr class="uk-divider-icon"
<div class="uk-container-xsmall uk-align-center">
    <center><a href="{% url 'approvals' %}"><span uk-icon="chevron-left"></span> Return to Approvals</a></center>
</div>

{%endblock%}