{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="uk-height-viewport uk-margin-remove uk-flex uk-flex-center uk-flex-middle uk-background-cover"
     data-src="{% static 'images/chinda-sam-x7S0DXiSY9I-unsplash.jpg' %}" uk-img>

<div class="uk-card uk-card-default uk-card-large uk-box-shadow-medium">
    <div class="uk-card-body">
        <h3>Find a Hotel</h3>
        <hr>
            Find the perfect hotel for your feline friend.
        <br>
        <br>
			<div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media.js }}
        {{form.as_p}}
    <button type="submit" class="uk-button uk-button-primary uk-border-pill uk-width-1-1">Search</button>
    </form>
</div>

					</div>
				</fieldset>
			</form>

              </div>
    </div>

</div>

{%endblock%}