{% extends "base.html" %}
{% block content %}
{% load static %}



<body>
<div class="uk-height-viewport uk-margin-remove uk-background-cover"
     data-src="{% static 'images/sincerely-media-56pMIREBAcg-unsplash.jpg' %}" uk-img
     xmlns="http://www.w3.org/1999/html">


<div class="uk-margin-large-top" uk-grid>
    <br>
    <div class="uk-width-expand"> <!-- left div margin --></div>
    <div class="uk-width-1-3@m" style="background-color: #FFF">
    <br>
        <h1 class="main-header-text poppins">Success</h1>

        <div style="border-left: 6px solid gray; padding-left: 10px;">

                <p>Thank you, {% if user.first_name %} {{ user.first_name }}
                {% else %}{{ user.username }}
                {% endif %}! Your hotel submission is now pending. </p>

            <a href="{% url 'index' %}" class="uk-link-muted"><span uk-icon="chevron-double-right"></span>Return</a>
        </div>
                    <br>
            <br>
        <br>




    </div>
    <div class="uk-width-expand"><!-- right  div margin --></div>
</div>


</body>
</div>



{% endblock %}
</html>